/* App.css */

body {
  background-image: url(../public/expense-reimbursements.jpg);
  background-size: 15%; /* Zoom in slightly */
  background-repeat: repeat; /* Keep the image repeating */
  background-color: rgb(235, 235, 235);
  background-attachment: fixed;
}

/* Media query for devices with screen sizes smaller than 768px */
@media (max-width: 768px) {
  body {
    background-size: 120%; /* Keep the zoom effect on smaller screens */
    background-repeat: repeat; /* Keep the tiling effect */
    background-position: top left; /* Start tiling from the top-left corner */
  }
}
